<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="main">
        <div class="header-area">

            <h1>Welcome to our product world</h1>
        </div>
        <div class="menu-area">
            <ul>
                <li><a href="#">Dress</a></li>
                <li><a href="#">Bags</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Accessories</a></li>
              </ul>
             </div>
        <p style="font-style: italic; margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint molestiae inventore aut, officia quibusdam cum?</p>
        <p style="font-weight: bold; margin: 20px;">Lorem ipsum dolor sit <span style="color: red;">amet consectetur adipisicing elit. </span>Ipsa natus veritatis sunt vero debitis dolor quos cum distinctio possimus voluptates!</p>
    </div>

</body>

</html>